/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	background-color:#f4f4f4;
	font:300 11px/1.4 edmondsans,'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
    line-height: 1.4;
	padding:0;
	margin:0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/edmondsans-regular-webfont.eot');
    src: url('../fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('../fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.description {
	border-top:1px #fff solid;
	background: #f4f4f4;
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ededed 7%, #f4f4f4 59%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(7%,#ededed), color-stop(59%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ededed 7%,#f4f4f4 59%);
	background: -o-linear-gradient(top,  #f4f4f4 0%,#ededed 7%,#f4f4f4 59%);
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#ededed 7%,#f4f4f4 59%);
	background: linear-gradient(to bottom,  #f4f4f4 0%,#ededed 7%,#f4f4f4 59%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=0 );
	position:relative;
	z-index:1000;
}
.description h2 {
	font-size:30px;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	text-transform:uppercase;
}

.download-links {
	text-align:center;
}
.download-links a {
	background:#dddada;
	color:#444;
	font-size:24px;
	text-decoration:none;
	padding:10px 20px;
	margin:0 5px;
	display:inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.5);
}

.neon-horz {
	border-top:1px solid rgba(255,255,255,0.6);
	border-bottom:2px solid rgba(0,0,0,0.1	);
	background-color:#b1f038;
	font-size:5px;
	height:5px;
	margin:0;
	padding:0;
}

.revolver-button {
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center center;
	line-height:80px;
	text-align:center;
	width:50px;
	height:80px;
	margin-top:-25px;
	display:block;
	position:absolute;
	z-index:200;
	top:50%;
	cursor:pointer;
	opacity:0;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}
.revolver-button.revolver-next {
	background-image:url('../../images/next.png');
	right:0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.revolver-button.revolver-prev {
	background-image:url('../../images/prev.png');
	left:0;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.revolver-manual-buttons {
	text-align:center;
	width:300px;
	margin-left:-150px;
	position:absolute;
	z-index:200;
	bottom:20px;
	left:50%;
	opacity:0;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}
.revolver-manual-buttons .manual-advance {
	border-top:2px solid rgba(255,255,255,0.3);
	background-color:#fff;
	background-color:rgba(255,255,255,0.8);
	font-size:16px;
	width:30px;
	height:30px;
	margin:0 3px;
	display:inline-block;
	cursor:pointer;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.revolver-manual-buttons .manual-advance.active {
	background-color:#c80309;
}

.revolver-slider {
	background:#666;
	height:500px;
}
.revolver-slider:hover .revolver-button,
.revolver-slider:hover .revolver-manual-buttons {
	opacity:0.8;
}

.revolver-slider:hover .revolver-button:hover {
	opacity:1;
}

.revolver-slider .slide {
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size:auto 100%;
	-moz-background-size:auto 100%;
	-o-background-size:auto 100%;
	background-size:auto 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	height:100%;
	width:100%;
	-webkit-box-shadow: inset 0px -1px 5px rgba(50, 50, 50, 0.79);
	-moz-box-shadow:    inset 0px -1px 5px rgba(50, 50, 50, 0.79);
	box-shadow:         inset 0px -1px 5px rgba(50, 50, 50, 0.79);
}
.revolver-slider .slide.slide-1 {
	background-image:url('../../images/slide1.jpg');
}
.revolver-slider .slide.slide-2 {
	background-image:url('../../images/slide2.jpg');
}
.revolver-slider .slide.slide-3 {
	background-image:url('../../images/slide3.jpg');
}

.slider-logo {
	background-image:url('../../images/logo.png');
	background-repeat:no-repeat;
	background-position:center center;
	width:444px;
	height:162px;
	margin:-81px 0 0 -222px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	z-index:500;
}

.wonderful-logo {
	background-image:url('../../images/wonderful_tag-160x50.jpg');
	width:160px;
	height:50px;
	position:absolute;
	top:0;
	left:20px;
	z-index:2000;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}